?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.raw.spring"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Spring</name>

  <description>
      "An addictive mobile game"
  </description>

  <author href="https://build.phonegap.com" email="spamraw@hotmail.com">
      RAW
  </author>
  <icon scr="spring_icon.png" />
 

</widget>